.input1 {
   border: none;
   box-shadow: 0 0 0 0; 
   -webkit-box-shadow: none;  
   outline: 0;
   font-style: italic;
   font-size: 16px;
   color: #4c4b4b;
}

.navBack{
	background: #fff;
} 

.title{
	font-weight: bold;
	font-family: antonio;
}

.categorias{
	font-weight: normal;
	font-family: antonio;
	font-family: Open sans;
	font-style: normal;
	color: #9e9e9e;
}

.titleMateria{
	font-weight: bold;
	font-family: antonio;
	font-size: 30px;
	font-style: normal;
}

.modalHeader1{
	margin-left: 30px;
	margin-top: 30px;
}

.modalHeader2{
	margin-top: 30px;
}

.modalBody{
	margin-left: 30px;
}

.backContainer{
	background: #eeeeec;
}

h3 {
    color: #444444;	
    font-family: Antonio;	
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;    
}

.titleCarrousel {
	color: #444444;	
	font-family: Antonio;	
	font-size: 24px;	
	font-weight: bold;	
	line-height: 80px;	
	text-align: center;}

.titleSecao1 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 300;
    color: #5A5A5A;
}

.text{
	font-size: 14px;
	text-align: center;
	font-family: "Open sans";
	font-style: normal;
	color: #757575;		
		
}

.container img {
    width: auto;
    height: auto;
    padding-left: 10px;
    margin-right:10px;
    margin-bottom:30px;
}

.container secao1Img {
    width: auto;
    height: auto;
    margin:auto;
    padding-left: 100px;
    position: relative;
}

.container .btn {
    position: absolute;
    bottom: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 10px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: #babdb6;
    color: white;
}

.imgLogo{
	width: 50%;
    height: auto;
}

.textNewsletter{
	text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #313131;
    line-height: 22px;
}

.textEmail{
	text-align: left;
    font-family: Aller, Open sans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #5B5B5B;
}

.inspire-se {	
	color: #444444;	
	font-family: Antonio;	
	font-size: 24px;	
	font-weight: bold;	
	line-height: 80px;	
	text-align: center;
}

.rectangle-5 {	
	height: 47px;	
	width: 320px;	
	background-color: #FFFFFF;
}

.textGaleria {	
	color: #5A5A5A;	
	font-family: "Open Sans";	
	font-size: 12px;	
	text-align: center;
}

.layer{
	width: 538px;
}

